@page "/"
@inject IRepositorio repositorio

<div>
    <h3>Películas</h3>    
    <ListadoPeliculas Peliculas="Peliculas"/>            
</div>

@code{
    public List<Pelicula> Peliculas { get; set; } = null!;  

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObtenerPeliculas();
    } 
}
